/* BUTTONS */

.buttons{
    .button{
        &-wrapper{
            margin-right: 2rem;
            
            &:nth-last-child(1){
                margin-right: 0;
            }

            @include media-breakpoint-down(sm){
                margin-bottom: 1rem;
            }    
        }
    }
}

.button-wrapper {
    display: flex;

    &.lef{
        justify-content: flex-start;
    }

    &.mid{
        justify-content: center;
    }

    &.rig{
        justify-content: flex-end;
    }

    &.vol{
        .button, button{
            width: 100%;
            &-wrapper-inner {
                width: 100%;     
            }
        }
    }

    .button-wrapper-inner{
        @include position(relative);
    }

    .button, button {
        @include position(relative);
        display: inline-block;
        background-color: var(--clr-1);
        border: none;
        cursor: pointer;
        -webkit-transition: all .3s ease;
        -moz-transition: all .3s ease;
        -ms-transition: all .3s ease;
        -o-transition: all .3s ease;
        transition: all .3s ease;
     
        @include border-radius(var(--bdr-2));

        a, input, p, button {
            @include position(relative);
            @include dimensions(100%, 100%);
            @include fonts(var(--font-font-3-link), var(--font-7), var(--font-7));
            -webkit-appearance: none;
            border: 0;
            background: none;
            text-align: center;
            display: block;
            color: $white;
            text-decoration: var(--font-7-cap);
            cursor: pointer;
            outline: none;
            margin-bottom: 0;
            font-weight: var(--font-7-fw);
            padding-top: 15px;
            padding-bottom: 16px;
            padding-right: 29px;
            padding-left: 29px;
        }

        &.light{
            background-color: $white;

            a, input{
                color: var(--clr-3);
            }
        }

        &.dark{
            background-color: var(--clr-3);

            a, input{
                color: $white;
            }
        }
        &-icon{
            height: 4.8rem;
            width: 4.8rem;
            
            .icon{
                margin-left: 0;
            }

        }
    }

    .icon{
        margin-left: 2.3rem;
    }
}
