
/* COLLECTION */
.collection{
    position: relative;
    min-height: 47rem;
    margin-right: auto;
    
    &::before{
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: var(--clr-3);
        opacity: .3;
    }

    .collection_inner {
        position: relative;
        z-index: 1;
        padding: 3.7rem 4rem;
        margin-right: auto;
        
        h2, p{
            color: $white;
        }

        p{
            margin-top: 1rem;
            @include fonts(var(--font-font-3-link), 1.3rem, 2.4rem); 
        }

        h2{
            margin-bottom: 1rem
        }
    }

}