/* COMPANY */
.company{
    &.company-background{
        padding: 4rem;
        @include border-radius(30px);
        p{
            &:nth-last-child(1){
                margin-bottom: 0;
            }
        }
    }
    .bold{
        margin-bottom: 1.7rem;

        &.follow{
            margin-bottom: 0;
        }
    }

    a{
        text-decoration: none;
        color: var(--clr-3);

        &.telefoon{
            margin-bottom: 5px;
        }
    }

    img{
        margin-right: 15px;
        width: 20px;
    }
}
