.person{
    margin-bottom: 3rem;
    width: 100%;

    &_image{
        @include border-radius(100%);
        width: 6.6rem;
        height: 6.6rem;
        margin-right: 2rem;
    }

    &_title{ 
        width: calc(100% - 8.6rem);
        p{
            color: var(--clr-1);
            margin-bottom: 0;
        }

        .small{
            font-size: 1.5rem;
        }    
    }

    &.person-no-img{
        .person{
            &_title{
                width: 100%;
            }
        }
    }
}

