/* CTA */
.cta{
    @include position(relative);
    min-height: 425px;
    height: 425px;
    border-radius: 30px;
    padding: 90px 60px 60px 60px;
    @include ease(.3s);

    @include media-breakpoint-down(sm){
        padding: 45px 30px 30px 30px;
        height: unset;
        min-height: unset;
    }    

    &_inner{
        height: 100%;
    }
    h2{
        margin-bottom: 2.1rem;
        font-size: 3.2rem!important;
        line-height: 3.2rem!important;
    }

    p{
        margin-bottom: 3.7rem;
    }

    &:hover{
        background-color: var(--hea-bg-clr)!important;

        .button{
            &-wrapper{
                .button-icon{
                    background-color: white!important;
                }
            }
        }
    }
    &.dark{
        h2, p{
            color: var(--clr-3);
        }
    }

    &.light{
        h2, p{
            color: var(--clr-3);
        }
    }

    &.cta-img{
        padding-top: 12.5rem;
        padding-bottom: 12.5rem;

        @include media-breakpoint-down(sm){
            padding-top: 5rem;
            padding-bottom: 5rem;
        }    
    }

    .button{
        &-wrapper{
            margin-top: auto;
            .button-icon{
                @include ease(.3s);  
            }
        }
    }
}
