/* SLIDER */
.slider-container {

    .slider {
        &.swiper-container-horizontal > .swiper-scrollbar{
            left: 0;
            bottom: 0;
            height: 1px;
            width: 100%;
            opacity: 1!important;
        }


        &_item{
            margin-bottom: 3rem;
            
        }

        .swiper-scrollbar{
            @include border-radius(0);
            background-color: rgba(255, 255, 255, 0.3);
        }

        .swiper-scrollbar-drag{
            background: $white;
            border-radius: 0;
        }

        &.images_slider{
            @include position(relative);
            overflow: visible;
       
            

            .swiper-slide{
                padding-top: 60%;
                @include border-radius(30px);
                overflow: hidden;
            }

            .swiper-button{
                height: 48px;
                width: 48px;
                background-color: var(--clr-3);
                right: unset;
                left: -48px;
                top: unset;
                bottom: 0;
                @include border-radius(var(--bdr-1));
                @include transform(translateX(-100%));  

                &.swiper-button-next{
                    bottom: 5.6rem
                }

                &-prev{
                    @include transform(translateX(-100%) rotate(180deg)); 
                }

                &::after{
                    display: none;
                }
            }
        }

        &.review_slider{
            @include position(relative);

            .swiper-button{
                height: 48px;
                width: 48px;
                background-color: var(--clr-3);
                right: 8.5%;
                left: unset;
                top: unset;
                bottom: 20rem;
                @include border-radius(var(--bdr-1));
                @include transform(translateX(0%));  

                @include media-breakpoint-down(sm){
                    bottom: 0;
                    right: unset;
                    left: 4.8rem;

                    &-next{
                        margin-left: 10px;
                    }
                }

                &-prev{
                    @include transform(translateX(-100%) rotate(180deg)); 
                    margin-right: 10px;
                }

                &::after{
                    display: none;
                }
            }

            @include media-breakpoint-down(sm){
                padding-bottom: 8.8rem;
            }
        }

        &.upslist_slider {
            @include position(relative);

            .swiper-button{
                height: 48px;
                width: 48px;
                background-color: white;
                right: unset;
                left: 57%;
                top: unset;
                bottom: 2rem;
                @include border-radius(var(--bdr-1));
                @include transform(translateX(0%));  

                @include media-breakpoint-down(md){
                    bottom: 0;
                    right: unset;
                    left: 0rem;

                    &-next{
                        margin-left: 10px;
                    }
                }

                &-prev{
                    @include transform(translateX(-0%) rotate(180deg)); 
                    margin-right: 10px;
                }

                &-next{
                    @include transform(translateX(calc(100% + 10px)) rotate(0deg)); 
                    margin-right: 10px;
                }

                &::after{
                    display: none;
                }
            }

            @include media-breakpoint-down(sm){
                
            }
        }

        &.testimonial_slider, &.project_slider{
            .swiper{
                &-slide{
                    height: auto;
                    .slider{
                        &_item{
                            height: calc(100% - 3rem);

                            
                            .item{
                                &_inner{
                                    height: 100%;
                                }

                                &_content{
                                    height: calc(100% - 21.8rem);
                                    @include flex-cs;
                                
                                    &.testimonial{
                                        @include flex-ss;
                                        height: 100%;
                                        margin-bottom: 0;

                                        background-color: var(--clr-4);
    
                                        h5{
                                            margin-bottom: 0;
                                            color: var(--clr-1);
                                        }
                                    }
                                }
                                
                            }
    
                        }
                    }
                }
            }
        }
        &.testimonial_slider, &.header_slider{
            overflow: visible;
            .swiper-pagination{
                position: relative;
                bottom: unset;

                &-bullet {
                    @include position(relative);
                    border: none;
                    background: var(--clr-3);
                    opacity: 0.3;
                    width: 7px;
                    height: 7px;
                    margin: 0 5.5px;

                    &::before{
                        content: '';
                        @include position(absolute);
                        top: -2px;
                        left: -2px;
                        height: 100%;
                        width: 100%;
                        border: 2px solid var(--clr-3);
                        background-color: transparent;
                        @include border-radius(var(--bdr-1));
                        transition: all .3s ease-in-out;  
                        opacity: 0;
                    }

                    &-active{
                        opacity: 1;
                        background-color: transparent;
                        margin: 0 7.5px;

                        &::before{
                            opacity: 1;
                        }
                    }   
                }

                &.swiper-pagination-header{
                    position: absolute;
                    bottom: 8rem;

                    .swiper-pagination{
                        &-bullet{
                            background: white;
    
                            &::before{
                                border: 2px solid white;
                            }
                            
                            &-active{
                                background-color: transparent;
                            }
                        }
                    }
                }
            }
        }

    }

    h2{
        margin-bottom: 3rem;
    }

    &.light{
        h2{
            color: white;
        }
        .swiper-scrollbar{
            background-color: rgba(255, 255, 255, 0.3); 
        }

        .swiper-scrollbar-drag{
            background: $white;
        }
    
    }

    &.dark{
        h2{
            color: var(--clr-3);
        }
        .swiper-scrollbar{
            background-color: rgba(0, 0, 0, 0.3); 
        }

        .swiper-scrollbar-drag{
            background: var(--clr-3);
        }
    }
}
