/* USPS */
.usp{
    @include position(relative);
    padding: 0 4rem;

    &_icon{
        @include position(relative);
        color: var(--clr-3);
        font-size: 7.5rem;
        margin-left: -0.11em;
        margin-bottom: 2.62rem;
        height: 7.5rem;
        width: 7.5rem;

        @include media-breakpoint-down(md){
            margin-bottom: 1.5rem;
            height: 5.5rem;
            width: 5.5rem;
        }

        &.ups_img{
            margin-left: 0;
            background-position: left bottom;
        }
    }

    h4{
        margin-bottom: 1.6rem;
        color: var(--clr-1);
    }

    p{
        color: var(--clr-1);
        margin-bottom: 0;
    }

    @include media-breakpoint-down(md){
        padding: 0 0 0 0;
    }
}
