/* USP */
.usp-list{
    position: relative;

    ul{
        margin-bottom: 0;

        li{
            margin-bottom: 0;
            margin-right: 1.5rem;
            margin-bottom: 1.5rem;
            list-style: none;

            svg{
                width: 1.4rem;
                margin-right: 1rem;
            }

            &:nth-last-child(1){
                margin-right: 0;
            }   
        }
    }
}


.upslist_slider{
    .swiper-slide{
        position: relative;
        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;
        align-items: center;
        @include media-breakpoint-down(md){
            padding-bottom: 50px;
        }

        h2{
            color: var(--clr-3);
        }
    }
    .slide-text{
        position: relative;
        width: 50%;
        padding-left: 7%;
        @include media-breakpoint-down(md){
            width: 100%;
            padding-left: 0;
        }
    }
}



.usp-slider{
    width: 50%;
    @include position(relative);
    display: flex;
    flex-flow: row wrap;

    @include media-breakpoint-down(md){
        width: 100%;
        margin-bottom: 50px;
        display: none;
    }

    .swiper-pagination{
        position: absolute;
        text-align: center;
        transition: 300ms opacity;
        transform: translate3d(0, 0, 0);
        z-index: 10;
        height: 100%;
        width: 100%;
        display: flex;
        flex-flow: row wrap;
        opacity: .3;

        &-bullet{
            width: 50%;
            height: 50%;
            @include border-radius(0);
            opacity: 0;

            &:nth-child(3){
                order: 4;
            }
        }
    }
    
    &-circle{
        @include border-radius(100%);
        top: calc(10% - 10px);
        left: calc(10% - 10px); 
        height: 80%;
        width: 80%;
        position: absolute;
    }

    &-logo{
        position: absolute;
        top: 50%;
        left: 50%;
        width: 155px;
        height: 155px;
        background-position: center center;
        background-size: contain;
        background-repeat: no-repeat;
        @include transform(translate(-50%, -50%));
    }
   

    .wrap{
        width: calc(50% - 20px);
        margin-right: 20px;
        margin-bottom: 20px;
        background-color: rgba(8, 66, 52, 0.25);

        &.active-wrap{
            background-color: var(--clr-3);
            .slice{ 
                svg{
                    path{
                        fill: transparent;
                    }
                    text {
                        fill: white;
                    }
                }
            }
            p{
                color: white;
            }
        }   
        
        p{
            position: absolute;
            left: 50%;
            top: 50%;
            font-weight: 600;
            color: var(--clr-3);
        }

        &-0{
            @include border-radius(100% 0 0 0);
            .slice{
                svg{
                    @include transform(rotate(0deg)); 
                    top: 7%!important;
                    left: 7%!important;
                }
            }
            p{
                @include transform(translate(-50%, -50%) rotate(-45deg));
            }
        }

        &-1{
            .slice{
                svg{
                    @include transform(rotate(90deg)); 
                    top: 7%!important;
                    left: -3% !important;
                }
            }
            @include border-radius(0 100% 0 0);
            p{
                @include transform(translate(-50%, -50%) rotate(45deg));
            }
        }

        &-2{
            .slice{
                svg{
                    @include transform(rotate(90deg)); 
                    
                }
            }
            @include border-radius(0 0 100% 0);
            p{
                @include transform(translate(-50%, -50%) rotate(225deg));
                
            }

            order: 4;
        }

        &-3{
            .slice{
                svg{
                    @include transform(rotate(180deg)); 
                    left: 4%!important;
                }
            }
            @include border-radius(0 0 0 100%);
            p{
                @include transform(translate(-50%, -50%) rotate(135deg));
            }
        }



        

        .slice{
            @include position(relative);
            padding-top: 100%;
            
            svg{
                position: absolute;
                top: 0;
                left: 0;
                display: block;
                opacity: 1;
                height: 96%;
                width: 96%;

                path{
                    fill: transparent;
                }
                text {
                    fill: var(--clr-3);
                    font-family: var(--font-font-1-link), sans-serif;
                    font-size: 2.8rem;
                    line-height: 2.8rem;
                    -webkit-font-smoothing: antialiased;
                    -moz-osx-font-smoothing: grayscale;
                    font-display: optional;
                    margin: 0 0 0 0;
                    font-weight: 600;
                    letter-spacing: 4px;
                }
            }

            p{
                position: absolute;
                width: 100%;
                line-height: 1px;
                letter-spacing: 0px;
                white-space: nowrap;
                
                &.slice{
                    &-0{
                        margin-top: -26px;
                        margin-left: -26px;
                    }  

                    &-1{
                        margin-top: -26px;
                        margin-left: 26px;
                    }   

                    &-2{
                        margin-top: 26px;
                        margin-left: -26px;
                    }

                    &-3{
                        margin-top: 26px;
                        margin-left: 26px;
                    }
                }
            }

            
            
        }
    }
}