@font-face {
    font-family: 'Graphik_Web';
    src: url('/theme/assets/fonts/Patron-Medium.woff2') format('woff2'),
        url('/theme/assets/fonts/Patron-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Graphik_Web';
    src: url('/theme/assets/fonts/Patron-Light.woff2') format('woff2'),
        url('/theme/assets/fonts/Patron-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Graphik_Web';
    src: url('/theme/assets/fonts/Patron-Bold.woff2') format('woff2'),
        url('/theme/assets/fonts/Patron-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}


.title{
    &-font{
        &-2{
            @include fonts(var(--font-font-2-link), inherit, inherit);
        }
    }
}


