
.fields-wrapper{
	.form-field-container{
		@include position(relative);
	
		&.half {
			width: calc(1 / 2 * 100% - (1rem / 2));
			
			@include media-breakpoint-down(sm){
				width: 100%;
			}
		}
	
		&.third {
			width: calc(1 / 3 * 100% - (2rem / 3));
			
			@include media-breakpoint-down(sm){
				width: 100%;
			}
		}

		&.quarter{
			width: calc(1 / 4 * 100% - (3rem / 4));

			@include media-breakpoint-down(sm){
				width: calc(1 / 2 * 100% - (1rem / 2));
			}
		}

		&.auto{
			width: auto;
		}
		
		&.autow{
			width: 8rem;
			height: 5rem;
			margin-bottom: 0;
			margin-left: 10px;
			margin-right: 10px;
	
			input{
				padding: 0 0 0 0!important;
				text-align: center;
				min-height: 50px;
			}
		}
	
		.form-field{
			&.text ~ label {
				opacity: 0;
				@include position(absolute);
				top: -5px;
				z-index: 3;
				font-size: 12px;
				line-height: 12px;
				padding: 0 3px;
				background: #ffffff;
				left: 1.5rem;
				color: var(--clr-3);
				@include transform(translateY(-100%) scale(0.9)); 
				@include ease(.3s);
			}
	
			&.text{
				&.form-field{
					&--is{
						&-active ~ label {
							visibility: visible;
							opacity: 1;
							@include transform(translateY(0%) scale(1)); 
						}
	
						&-filled ~ label{
							visibility: visible;
							opacity: 1;
							@include transform(translateY(0%) scale(1));
						}
					}
				}
			}
	
		}
	}
	
}
.header{
	&.empty_img{
		&.product__show{
			padding: 17rem 0 0 0;
			background-color: transparent;
		}
	}
}

.post_type_product {
	&.post_conduct_show{
		.pc__product{
			border: none;
		}
	}
}

.cart__container, .checkout__container, .account__container, .post_conduct_show.post_type_product .pc__product{
	padding-top: 18.9rem;
	padding-bottom: 8.6rem;

	@include media-breakpoint-down($breakpoint){
		padding-top: 10rem;
		padding-bottom: 10rem;
	}
}

.shop__container{
	padding-top: 18.9rem;

	.extern-header{
		&.pc{
			&_header{
				padding-top: 0;
			}
		}
	}

	@include media-breakpoint-down($breakpoint){
		padding-top: 10rem;
	}
}

.shop-title-container{
	width: 100%;

	.button-wrapper {
		margin-top: 2.5rem;
		margin-bottom: 5rem;
	}
}
.cart, .checkout{
	&__container{
		&__inner{
			.checkout__wrapper{
				width: 66%;
				@include media-breakpoint-down($breakpoint){
					width: 100%;
				}

				h1{
					margin-bottom: 3rem;
				}
			}
			.checkout__cart{
				width: calc(34% - 6.5rem);
				margin-left: auto;
				@include media-breakpoint-down($breakpoint){
					width: 100%;
					margin-top: 4rem;
				}

				.sidebar__total{
					padding: 5.3rem 4.2rem;
					background: var(--clr-3);
					
					.pc__total{
						color: white;
						@include fonts(var(--font-font-1-link), var(--font-6), var(--font-6-line));
						
						p{
							@include fonts(var(--font-font-1-link), var(--font-6), var(--font-6-line));
							margin-bottom: 0;
							display: flex;
							justify-content: space-between;
						}
						.total-price {
							border-top: 1px solid rgba(255, 255, 255, 0.3);
							padding-top: 2.3rem;
							margin-top: 2.3rem;
							margin-bottom: 2.3rem;
						}
					}
				}
			}
		}
	}
}


.button{
	cursor: pointer;
				
	button{
		cursor: pointer;					
	}
}

.pc{
	&__cart{
		table{
			width: 100%;
		}
		&__list__item{
			border-bottom: 1px solid var(--clr-4);

			

			a{
				text-decoration: none;
			}

			&__media{
				width: 14rem;
				@include media-breakpoint-down($breakpoint){
					width: 8rem;
					margin-bottom: auto;
					margin-top: 2rem;
				}
				
				.pc__product__media__item{
					padding-top: 100%;
				}

			}

			.pc__cart__list__overview__inner{
				@include media-breakpoint-down($breakpoint){
					@include flex-c;
				}
			}

			

			.pc__cart__list__overview {
				width: calc(100% - 14rem);
				padding-top: 2.5rem;
				padding-bottom: 2.5rem;	
				@include position(relative);		

				@include media-breakpoint-down($breakpoint){
					width: calc(100% - 8rem);
					padding-top: 2rem;
					padding-bottom: 2rem;
					padding-left: 2rem;
				}

				&__product{
					width: 50%;
					padding-top: 1.5rem;

					@include media-breakpoint-down($breakpoint){
						padding-top: 0rem;
						width: 100%;
						order: 1;
						margin-bottom: 2rem;
					}
				}
				
				.pc__product__quantity-input{
					margin: 0;
				}
	
				&__delete__product{
					width: calc(25% - 2.5rem);
					@include media-breakpoint-down($breakpoint){
						width: calc((100% - 3.5rem) / 2);
						order: 4;
					}

					.delete__product__inner{
						padding-top: 1.5rem;
						padding-left: 3.5rem;
						text-align: right;
						@include fonts(var(--font-font-3-link), var(--font-7), var(--font-7-line));
						color: var(--clr-3);
						font-weight: 500;	
						
						@include media-breakpoint-down($breakpoint){
							padding-left: 0;
							padding-right: 0;
							font-size: var(--font-6);
							line-height: var(--font-6-line);
							padding-top: 0;
						}

						button{
							margin-top: 1.8rem;
							background: transparent;
							border: none;
							padding: 0;
							outline: none;
							color: #99999A;
							@include position(absolute);	
							right: 0;	

							@include media-breakpoint-down($breakpoint){
								display: none;
							}
						}
					}
				}

				&__delete{
					background-color: transparent;
					border: none;
					outline: none;
					color: var(--clr-3);
					
				}
				
				&__quantity{
					width: 5rem;
					@include media-breakpoint-down($breakpoint){
						width: 3.5rem;
						order: 3;
					}
				}

				&__price__price{
					width: calc(25% - 2.5rem);
					padding-top: 1.5rem;
					
					.price__product__inner{
						padding-right: 3.5rem;
						text-align: right;

						@include media-breakpoint-down($breakpoint){
							padding-right: 0;
							text-align: left;
						}

						.pc__product__price{
							@include fonts(var(--font-font-3-link), var(--font-7), var(--font-7-line));
							@include media-breakpoint-down($breakpoint){
								font-size: var(--font-6);
								line-height: var(--font-6-line);
								
							}
							color: var(--clr-3);
							font-weight: 500;							
						}
					}

					@include media-breakpoint-down($breakpoint){
						padding-top: 0rem;
						width: calc((100% - 3.5rem) / 2);
						order: 2;
					}
				}
			}
			
			.pc__product{
				&__media {
					width: 12rem;
					@include media-breakpoint-down($breakpoint){
						width: 8rem;
						border: 1px solid var(--clr-4);
					}
				}

				&__sku {
					font-size: 1.3rem;
					line-height: 1.4rem;
					margin-bottom: 0;
				}
			}

			h6{
				font-weight: bold;
				margin-bottom: 0rem;
			}

			td {
				padding-right: 0;
			}
		}
	}

	&__product{
		@include position(relative);
		border: 1px solid var(--clr-4);
		height: 100%;
		margin-bottom: 2rem;
		@include border-radius(var(--bdr-3));

		.pc__product__item{
			.pc__product{
				&__prices{
					margin-bottom: 0;
    				margin-top: 1rem;
				}
			}
		}
		.product-media{
			@include position(relative);
			.label__wrapper{
				right: 2rem;
				@include media-breakpoint-down($breakpoint){
					right: 1rem;
				}
			}

			@include media-breakpoint-down($breakpoint){
				border: 1px solid var(--clr-4);
				@include border-radius(var(--bdr-3));
			}
		}
		
		
		.label__wrapper{
			position: absolute;
			top: 1rem;
			right: 1rem;
			display: flex;
			z-index: 11;

			.label{
				padding: .5rem 1rem;
				background-color: var(--clr-1);
				color: white;
				margin-left: .5rem;
				@include fonts(var(--font-font-3-link), 1.3rem, 1.3rem);
				@include border-radius(var(--bdr-2));
			}
		}
	
		
		
		h3{
			color: var(--clr-3);
		}


		a{
			text-decoration:  none;
		}

		&__attributes {
			padding-left: 4rem;
			@include media-breakpoint-down($breakpoint){
				padding-left: 0;
				margin-top: 5rem;
			}

			li{
				border-top: 1px solid var(--clr-4);
				padding-top: 1rem;
				padding-bottom: 1rem;
				@include fonts(var(--font-font-1-link), var(--font-6), var(--font-6-line));
				color: var(--clr-3);
			}
		}

		&__variations{
			select{
				width: 100%;
				height: auto;
				border-radius: 0;
				margin-bottom: 2.5rem;
				padding: 1.55rem 4.8rem 1.55rem 1.8rem;
				border: 1px solid var(--clr-3);
				-webkit-appearance: none;
			}

			.option{
				margin-bottom: .3rem;
			}
		}
		
		&_information{
			padding-top: 4rem;
	
			&_inner{
				padding-left: 4rem;
				@include media-breakpoint-down($breakpoint){
					padding-left: 0;
				}
			}
		}

		&__media__item{
			@include position(relative);
			padding-top: 70%;
		}
		&-inner{
			padding: 2.8rem 3.3rem;

			h3{
				margin-bottom: 0;
			}

			.pc__product__sku {
				font-size: 1.4rem;
				line-height: 1.4rem;
				margin-bottom: 0.7rem;
				margin-top: 0.7rem;
			}


		}

		&__prices{
			margin-bottom: 2rem;
			margin-top: 3rem;
			p{
				margin-bottom: 0;
			}
			.pc__product__comparetoprice  {
				margin-right: .4rem;		
				@include fonts(var(--font-font-1-link), var(--font-6), var(--font-6-line));
				font-weight: var(--font-7-fw);
				color: var(--clr-3);
				text-decoration: line-through;
				p{
					@include fonts(var(--font-font-1-link), var(--font-6), var(--font-6-line));
				}
			}

			.pc__product__price {
				@include fonts(var(--font-font-1-link), var(--font-3), var(--font-3-line));
				color: var(--clr-1);
				font-weight: var(--font-3-fw);
				
			}
		}

		&__quantity-input {
			height: 5rem;
			width: 5rem;
			text-align: center;
			border: 1px solid var(--clr-1);
			margin-right: 1.5rem;

			@include media-breakpoint-down($breakpoint){
				height: 3.5rem;
				width: 3.5rem;
			}
		}

		&__description{
			color: var(--clr-3);
			@include fonts(var(--font-font-3-link), var(--font-6), var(--font-6-line));
		}

		h1{

			font-size: var(--font-2);
			line-height: var(--font-2-line);
			margin-bottom: 1.7rem;
		}
		
		&__sku{
			font-size: var(--font-3);
    		line-height: var(--font-3-line);
		}

		&__information{
			margin-top: 13rem;
			
			@include media-breakpoint-down($breakpoint){
				margin-top: 5rem;;
			}
		}

		&__related{
			margin-top: 11.4rem;
			margin-bottom: 8.6rem;

			@include media-breakpoint-down($breakpoint){
				margin-top: 5rem;;
				margin-bottom: 5rem;;
			}

			.slider-container{
				.slider{
					overflow: visible;
					.swiper-slide-main{
						margin-bottom: 3.2rem;
					}
	
					.swiper-scrollbar{
						display: block!important;
						background: rgba(218, 221, 226, 0.3);

						&-drag{
							background-color: var(--clr-4);
						}
					}
				}
			}
		}

		.slider{
			.swiper-slide{
				height: auto;
			}
			.pc__product{
				padding-top: 0;
				padding-bottom: 0;
				border: 1px solid var(--clr-4);
				height: 100%;
				margin-bottom: 0rem;
				border-radius: var(--bdr-3);
				-webkit-border-radius: var(--bdr-3);
				-moz-border-radius: var(--bdr-3);
				-ms-border-radius: var(--bdr-3);
				-o-border-radius: var(--bdr-3);
			}
		}
	}
	
	&__index__filters__tax__items{
		&.range{
			max-width: 25rem;
		}
	}

	&__shipping_adress{
		margin-bottom: 2rem;
	}

	

    &__coupon, &__coupons{
		&--hidden{
			display: none;
		}

		&__trigger{
			margin-right: 4px;
			margin-left: 4px;
			text-decoration: underline;
		}

		.fields{
			&-wrapper{
				margin-top: 3rem;

				.form-field-container{
					margin-bottom: 0;
				}
			}
		}
		
        .button-wrapper{
            display: block;
            margin-left: 0;
            margin-bottom: 0;
			visibility: hidden;

            .button{
                &.plus{
                    p{
                       width: 0;
                       height: 0;
                       padding: 0 0 0 0;
                    }
                }
            }
		}
		&__add-coupon{
			&--error{	
				border: 1px solid #b63636!important;
				color: #b63636!important;

				&::placeholder{
					color: #b63636;
				}
			}

			&--succes{
				border: 1px solid transparent!important;
			}
		}
    }
}

.coupon__link{
	margin-top: 4rem;
}

.filter__input__range {
	padding-bottom: 2rem;
	@include position(relative);

	p{
		margin-bottom: 0;
	}
	&__bar {
		height: 0.4rem;
		@include position(relative);
		background-color: var(--clr-4);
		margin: 2rem 10px 0;

		&__max,
		&__min {
			width: 1.5rem;
			height: 1.5rem;
            @include transform(translateY(-50%) translateX(-50%)); 
			background-color: var(--clr-1);
			z-index: 2;
        }

		&__range {
			height: 0.4rem;
			background: var(--clr-1);
			transform: translateY(-50%);
			opacity: 1;
		}

		&__max,
		&__min,
		&__range {
			@include position(absolute);
			top: 50%;
		}

		&__min {
			left: 0;
		}

		&__max {
			left: 100%;
		}
	}

	&__values {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}

	&__selector input {
		pointer-events: none;
		@include position(absolute);
		width: 100%;
		left: 0;
		top: 0;
		opacity: 0;
		cursor: pointer;
	}

	&__selector {
		@include position(absolute);
		z-index: 10;
		left: 0;
		width: 100%;
		@include transform(translateY(-50%));
		height: 20px;
		
		&--active {
			pointer-events: all !important;
		}
	}
}

.shop-dropdown-show{
	@include position(relative);
	overflow: hidden;

	&::before{
		content: '';
		@include position(absolute);
		left: 0;
		top: 0;
		height: 200%;
		width: 100%;
		background-color: rgba(0, 0, 0, 0.15);
		z-index: 4444444443;
	}

	.shop{
		&-dropdown{
			display: block;
		}
	}
}

.shop{
	&-dropdown{
		display: none;
		@include position(fixed);
		@include transform(translate(-50%, -50%));
		@include border-radius(var(--bdr-3));
		top: 50%;
		left: 50%;
		height: auto;
		min-height: 250px;
		max-height: 90vh;
		width: calc(100% - 8rem);
		max-width: 45rem;
		background: white;
		z-index: 4444444444;
		box-shadow: 2px 1px 20px rgba(0, 0, 0, 0.15);
		padding: 3rem 2.7rem;

		&-items{
			@include position(relative);
			max-height: 200px;
			width: 100%;
			overflow: scroll;
		}

		&.scroll-able{
			&::after{
				content: '';
				width: 100%;
				height: 50px;
				background: linear-gradient(rgba(255, 255, 255, 0),#ffffff);
				position: absolute;
				top: 235px;
				left: 0;
				@include transform(translateY(-100%));
			}

			&::before{
				font-family: "Font Awesome 5 Free"; 
				font-weight: 900; 
				content: '\f078';
				position: absolute;
				top: 230px;
				left: 50%;
				z-index: 1;
				color: var(--clr-3);
				font-size: 1.7rem;
				line-height: 1.7rem;
				@include transform(translate(-100%, 50%));
			}
		}

		.pc__total{
			color: var(--clr-3);
			@include fonts(var(--font-font-3-link), 1.3rem, 1.7rem);
			font-weight: 500;
			padding-top: 4rem;

			p{
				@include fonts(var(--font-font-3-link), 1.3rem, 1.7rem);
				font-weight: 500;
				margin-bottom: 0;
				display: flex;
    			justify-content: space-between;
			}
			.total-price{
				padding-top: 2rem;
				margin-top: 2rem;
				margin-bottom: 2.7rem;
				border-top: 1px solid var(--clr-4);

				p{
					font-weight: bold;
					@include fonts(var(--font-font-3-link), var(--font-7), var(--font-7-line));
				}
			}
		}
		.button-wrapper{
			margin-top: 1rem;
			&-inner{
				width: 100%;
	
				.button{
					width: 100%;
				}
			}
		}
		
		.pc__cart{
			&__list{
				&__item{
					margin-bottom: 1.4rem;
					border-bottom: none;
					.pc__cart__list{
						&__overview{
							padding-top: 0;
							padding-bottom: 0;
							width: calc(100% - 11.3rem);
							@include media-breakpoint-down($breakpoint){
								padding-left: 0;
								width: calc(100% - 8.3rem);
							}

							&__delete__product{
								display: none;
							} 

							&__product{
								padding-top: 0;
								width: 100%;	

								h6{
									font-size: 1.3rem;
    								line-height: 1.6rem;
								}

								@include media-breakpoint-down($breakpoint){
									margin-bottom: 0rem;
								}

								a {
									display: flex;
									justify-content: space-between;
									width: 100%;
								}

								.pc__product__sku{
									font-size: .7rem;
									line-height: .8rem;
									text-align: right;
									display: none;
								}
							}

							&__quantity{
								@include position(relative);
								display: flex;
								padding-top: .7rem;

								&:before{
									content: 'Aantal: ';
									@include fonts(var(--font-font-3-link), 1.3rem, 1.4rem);
									color: var(--clr-3);
									margin-right: 3px;
								}

								padding-top: .5rem;
								input{
									pointer-events: none;
									border: none;
									width: auto;
									height: auto;
									text-align: left;
									@include border-radius(0);
									font-size: 1.3rem;
									line-height: 1.4rem;
									color: var(--clr-3);
								}
							}

							&__price__price{
								padding-top: .5rem;
								width: 100%;
								.pc__product__price {
									text-align: left;
									font-size: 1.3rem;
									line-height: 1.4rem;
								}
							}
						}
					}

					&__media{
						width: 10rem;
						height: 8rem;
						margin-right: 1.3rem;

						@include media-breakpoint-down($breakpoint){
							margin-top: 0rem;
							width: 7rem;
							height: 7rem;
						}
						.pc__product__media {
							width: 10rem;
							@include media-breakpoint-down($breakpoint){
								width: 7rem;
							}
							border: 1px solid var(--clr-4);
							&__item{
								padding-top: 79%;
								@include media-breakpoint-down($breakpoint){
									padding-top: 100%;
								}
							}
						}
						
					}
				}
			}
		}
	}
}

div[class$="--loading"] {
	opacity: 0.5;
}

