/* HEADER */
.slider{
    &-container{
        &-header{
            @include position(relative);
        }
    }
}

.post_conduct_index.post_type_page{
    .header{
        @include media-breakpoint-up(md){
            min-height: var(--hea-hei);
        }
    }
}

.circle{
    position: relative;
    
    &-img{
        position: absolute;
        top: 0;
        height: 69vw;
        width: 69vw;
        z-index: 1;
        right: 4rem;
        @include flex-cc;
        @include border-radius(100%);
        @include transform(translate(50%, -50%));  
        background-size: cover;
        background-repeat: no-repeat;
        background-position: bottom left;

        @include media-breakpoint-down(md){
            height: 165vw;
            width: 165vw;
        }

        &-inner {
            position: relative;
            height: 0;
            width: 0;

            @include flex-cc;

            &::after{
                content: '';
                position: absolute;
                width: 43vw;
                height: 43vw;
                top: 0%;
                left: 0%;
                background-color: white;
                @include transform(translate(-50%, -50%));    
                @include border-radius(100%);
                z-index: 2;

                @include media-breakpoint-down(md){
                    height: 75vw;
                    width: 75vw;
                }
            }

            &::before{
                content: '';
                position: absolute;
                width: 69vw;
                height: 69vw;
                @include media-breakpoint-down(md){
                    height: 165vw;
                    width: 165vw;
                }
                top: 0%;
                left: 0%;
                background-color: var(--hea-bg-clr);
                @include transform(translate(-50%, -50%));    
                @include border-radius(100%);
                z-index: 1;
                opacity: .5;
            }

            &-block{
                position: relative;
                height: 0;
                width: 0;

                &::after{
                    content: '';
                    position: absolute;
                    width: 34.5vw;
                    height: 72vw;
                    top: 0%;
                    left: 0%;
                    background-color: white;
                    @include transform(translate(0%, -50%));    
                    @include border-radius(0%);
                    z-index: 3;
                }
            }
        }
    }
}
.header {
    @include position(relative);
    padding: 24rem 0 18.2rem;
    background-color: var(--hea-bg-clr);
    height: 97vh;
    
    @keyframes opacity-smooth {
        from {
            opacity: 0;
        }
        to {
            opacity: 1;
        }
    }

    p{
        @include fonts(var(--font-font-1-link), 1.9rem, 3.1rem);
        margin: 0 0 0 0;
        font-weight: 300;
    }
    &-grid{
        @include position(absolute);
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        overflow: hidden;
        
        .afbeeldings-galerij{
            @include position(relative);
            width: 120%;
            height: 130vh;
            margin-left: -10%;

            @include media-breakpoint-down(lg){
                width: 130%;
                height: 100vh;
                margin-left: -15%;
            }

            .header-galerij{
                &-wrapper{
                    width: 100%;
                    @include position(relative);
                    display: flex;
                    flex-direction: column;
                    flex-wrap: wrap;
                    height: 100%;
                    margin-top: -26rem;
            
                    @include media-breakpoint-down(lg){
                        margin-top: -16rem;
                    }
                    .galerij{
                        &-image{
                            @include position(relative);
                            width: 100%;
                            padding-top: 27%;
                            width: 20vw;
                            margin: 1.65vw;
                            
                            &:nth-child(1), 
                            &:nth-child(2), 
                            &:nth-child(3),
                            &:nth-child(4),
                            &:nth-child(5),
                            &:nth-child(6),
                            &:nth-child(8)
                            {
                                padding-top: calc(1 / 5 * 100% - (30vw / 5));
                            }
                            &:nth-child(7),
                            &:nth-child(9),
                            &:nth-child(10),
                            &:nth-child(11),
                            &:nth-child(12){
                                padding-top: calc((1 / 5 * 100% - (30vw / 5)) * 1.5);
                            }

                            &:nth-child(1), 
                            &:nth-child(2), 
                            &:nth-child(4),
                            &:nth-child(5),
                            &:nth-child(8),
                            &:nth-child(9),
                            &:nth-child(11){
                                opacity: .15;
                            }   
                            
                            &:nth-child(1){
                                margin-top: 9rem;
                            }

                            &:nth-child(7){
                                margin-top: 6rem;
                            }
                            &:nth-child(9){
                                margin-top: 16.5rem;
                            }

                            &:nth-child(11){
                                margin-top: 0;
                            }

                            @include media-breakpoint-down(lg){
                                margin: 1rem 1rem; 
                                width: 25%;
                                &:nth-child(1), 
                                &:nth-child(4),
                                &:nth-child(5),
                                &:nth-child(6),
                                &:nth-child(8)
                                {
                                    padding-top: calc(1 / 4 * 100% - (10rem / 4));
                                }
                            
                                &:nth-child(2),
                                &:nth-child(3),
                                &:nth-child(9),
                                &:nth-child(10),
                                &:nth-child(11),
                                &:nth-child(12){
                                    padding-top: calc((1 / 4 * 100% - (10rem / 4)) * 1.5);
                                }

                                &:nth-child(1), &:nth-child(7), &:nth-child(9), &:nth-child(11) {
                                    margin-top: 1rem;
                                }
                            }

                            @include media-breakpoint-down(md){
                                width: 33%;

                                &:nth-child(1), 
                                &:nth-child(4),
                                &:nth-child(5),
                                &:nth-child(6),
                                &:nth-child(6)
                                {
                                    padding-top: calc(1 / 3 * 100% - (10rem / 3));
                                }
                            
                                &:nth-child(2),
                                &:nth-child(3),
                                &:nth-child(9),
                                &:nth-child(10),
                                &:nth-child(11),
                                &:nth-child(12){
                                    padding-top: calc((1 / 3 * 100% - (10rem / 3)) * 1.5);
                                }
                               
                                &:nth-child(4){
                                    opacity: 1;
                                }
                                &:nth-child(1), 
                                &:nth-child(2), 
                                &:nth-child(5),
                                &:nth-child(6),
                                &:nth-child(8),
                                &:nth-child(9),
                                &:nth-child(11){
                                    opacity: .15;
                                }   
                            }
                        }
                    }
                }
            }
        }
    }

    &-trans{
        animation: opacity-smooth 1s forwards;
        -webkit-animation: opacity-smooth 1s forwards;
    }

    &-vid{
        @include position(absolute);
        top: 0;
        left: 0;
        @include dimensions(100%, 100%);
        object-fit: cover;
        pointer-events: none;
    }

    &_slider{
        .swiper{
            &-slide{
                height: auto;
                .header{
                    height: 100%;
                }
            }
        }
    }

    &.empty_img{
        background-color: white;
        padding: 13rem 0 14rem;
        
        &::before{
            content: '';
            display: none;
        }

        p{
            color: var(--clr-3);
        }

        .header_inner {
            margin-left: calc(100% / 12);
            @include media-breakpoint-down(md){
                margin-left: 0;
            }

        }
    }

    &.min_img{
        padding: 0 0 70vh;
        height: unset;

        .scr{
            display: none;
        }
    }

    &_inner {
        @include position(relative);    
        z-index: 1;
        max-width: 55%;

        &_center{
            margin: 0 auto;
        }

        &_right{
            margin: 0 0 0 auto;
        }

        h1, p {
            color: $white;
        }

        p:nth-last-child(1){
            margin-bottom: 0;
        }

        p.intro{
            margin-top: 2.4rem;
            max-width: 53rem;
        }
        
        .upload-date{
            margin-top: 2rem;
        }
    }

    &_button{
        margin-top: 3.4rem;
    }

    &::before{
        content: "";
        @include position(absolute);
        background: radial-gradient(rgba(8,66,52,.54), #FDECB9);
        position: absolute;
        top: -40%;
        left: -15%;
        height: 160%;
        width: 160%;
        opacity: 1; 
    }

    
    .breadcrumbs {
        p{
            margin-top: 0;
            margin-bottom: 1.5rem;
            color: var(--clr-1); 
        }

        a {
            color: var(--clr-1);
            text-decoration: none;
        }

    }

    &_image{
        @include position(relative);
        margin-top: -17rem;
        padding-top: 56.25%;
        margin-bottom: 5rem;

        h6{
            @include position(absolute);
            margin-bottom: 0;
            left: 30px;
            bottom: 28px;
            color: white;
            opacity: .5;
        }
    }
    .theme {
       
    
    }
}


.relative-sc{
    @include position(relative);
    width: 100%;  
    .right-div{
        height: 10px;
        width: 200%;
        right: 75%;
        background-color: #fdecb9;
        z-index: 11;
        position: absolute;
        bottom: 0;
    }

    .left-div{
        height: 10px;
        width: 200%;
        left: 75%;
        background-color: #fdecb9;
        z-index: 11;
        position: absolute;
        bottom: 0;
    }

    .divdr{
        @include position(absolute);
        bottom: 0;
        width: 100%;
        height: auto;
    }   
}
.scr{
    @include position(absolute);
    bottom: 0;
    left: 50%;
    @include transform(translateX(-50%)); 
    z-index: 3;

    p{
        position: absolute;
        bottom: 83px;
        color: var(--clr-3);
        @include fonts(var(--font-font-1-link), 1.9rem, 3.1rem);
        font-weight: 300;
    }
    
    svg{
        height: 88px;
        margin-bottom: 25px;

        circle{
            fill: transparent;
        }
    }
    &::after{
        content: '';
        @include position(absolute);
        left: 4rem;
        bottom: -30px;
        height: 24.4rem;
        width: 24.4rem;
        background: transparent;
        border-radius: 100%;
        border-left: 70px solid var(--clr-3);
        border-top: 70px solid transparent;
        border-bottom: 70px solid transparent;
        border-right: 70px solid transparent;
        @include transform(translate(-50%, 50%) rotate(135deg));

        @include media-breakpoint-down(md){
            height: 12.2rem;
            width: 12.2rem;
            background: transparent;
            border-radius: 100%;
            border-left: 35px solid var(--clr-3);
            border-top: 35px solid transparent;
            border-bottom: 35px solid transparent;
            border-right: 35px solid transparent;
        }
    }
    &.scrolldown{
        &-right{
            .scrolldown{
                &-default{
                    @include transform(translateY(50%) translateX(1.1250rem)); 
                }
            }
        }   

        &-left{
            .scrolldown{
                &-default{
                    @include transform(translateY(50%) translateX(-1.1250rem)); 
                }
            }
        }
    }
    .scrolldown{
        cursor: pointer;
        position: absolute;
        height: 7.5rem;
        width: 7.5rem;
        bottom: 0;
        z-index: 2; 
        @include transform(translateY(50%)); 
    
        &.scrolldown{
            
            &-custom{
                .scrolldown{
                    &_inner{
                        @include border-radius(0);
                        @include bg-color(transparent);
                        width: 100%;
                        height: 100%;
                        margin-top: 0;
                        margin-left: 0;
                
                        &::before, &::after{
                            display: none
                        }
                    }
                }
            }
        }
        &_inner{
            @include position(relative);
            @include border-radius(var(--bdr-1));
            @include bg-color(var(--clr-1));
            width: 70%;
            height: 70%;
            margin-top: 15%;
            margin-left: 15%;
    
            &::after{
                content: "";
                @include position(absolute);
                @include border-radius(var(--bdr-1));
                @include bg-color(var(--clr-1));
                top: -1.25rem;
                left: -1.25rem;
                height: calc(100% + 2.5rem);
                width: calc(100% + 2.5rem);
                opacity: .2;
                z-index: -1;
                @include pulsate;
            }
    
            &::before{
                content: url('/theme/assets/images/scrolldown.svg');
                @include position(absolute);
                bottom: -0.6rem;
                left: 50%;
                @include transform(translate(-50%, -50%)); 
            }
        }
    }
}


.categories{
    @include position(relative);
    margin-top: 4rem;

    .category {
        
        pointer-events: auto;
        @include position(relative);
        padding: .5rem 2rem;
        
        margin: 0 .5rem .5rem;
    
        &::before{
            content: '';
            @include position(absolute);
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: rgba(255, 255, 255, 0.2);
            @include border-radius(var(--bdr-2));
        }

        &.checked{
            &::before{
                background: var(--clr-1);
            }
        }

        label{ 
            pointer-events: auto;
            @include position(relative);
            color: $white;
        }

        input {
            cursor: pointer;
            pointer-events: auto;
            @include position(absolute);
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            opacity: 0;
        }
    }

    &.pc__categories{
        margin-bottom: 6rem;
        .category{
            margin-left: 0;
            margin-right: 1rem;
            &::before{
                content: '';
                @include position(absolute);
                background: var(--clr-4);
            }
            
            a{
                @include position(relative);
                font-size: var(--font-7);
                line-height: var(--font-7-line);
                color: var(--clr-3);
                text-decoration: none;
            }
            &.checked{
                &::before{
                    background: var(--clr-1);
                }

                a{
                    color: $white;
                }
            }
        }
    }
}

.titel-element {
    &-custom{
        &.ai-end{
            .titles{
                h2, h3, h4, h5, h6, p{
                    text-align: right;
                    white-space: pre-line;
                }
            }
        }
        &.ai-center{
            .titles{
                h2, h3, h4, h5, h6, p{
                    text-align: center;
                    white-space: pre-line;
                }
            }
        }
        &.ai-start{
            .titles{
                h2, h3, h4, h5, h6, p{
                    text-align: left;
                    white-space: pre-line;
                }
            }
        }
    }
    .titles{
        @include position(relative);

        h2, h1{
            @include position(relative);
            margin-bottom: 0;
            z-index: 2;
        }

        .bg-text{
            @include position(absolute);
            text-align: center;
            left: 50%;
            top: 50%;
            @include transform(translate(-50%, -50%));
            z-index: 1;
            @include fonts(var(--font-font-1-link), var(--font-1), var(--font-1-line));
            margin: 0 0 0 0;
            text-transform: var(--font-1-cap);
            font-weight: var(--font-1-fw);
        }
    }
}
/* EXTERN HEADER */ 
.extern-header{
    @include position(relative);
    padding-top: 10rem;
    padding-bottom: 5rem;

    h1{
        max-width: 700px;
    }

    &.pc_header{
        padding-top: 5.6rem;
        padding-bottom: 0rem;

        h1{
            font-size: var(--font-1);
            line-height: var(--font-1-line);
            color: var(--clr-3);
        }

        .pc__description_index{
            p{
                margin-top: 2.5rem;
                margin-bottom: 0;
                
            }
        }
    }
}
