html {
    scroll-behavior: smooth;
}

body{
    overflow-x: hidden;
}
html, body {
    @include dimensions(100vw, 100vh);
}

html.config-mode, html.config-mode body{
    width: 100%;
}

body{
    background-color: $white;
    color: $black;

    .text {
        &-uppercase{
            text-transform: uppercase;
            *{
                text-transform: uppercase;
            }
        }
        &-downcase{
            text-transform: none;
            *{
                text-transform: none;
            }
        }
    }
}

/* FONT & TEXT STYLING */
h1{
    @include fonts(var(--font-font-1-link), var(--font-1), var(--font-1-line));
    margin: 0 0 0 0;
    text-transform: var(--font-1-cap);
    font-weight: var(--font-1-fw);

    @include media-breakpoint-down(md){
        @include fonts(var(--font-font-1-link), 5.0rem!important, 5.5rem!important);
    }
}

.title-in h1 .word span{
    @include fonts(var(--font-font-1-link), inherit, inherit);
    @include transform(translateY(110%));
    opacity: 0;
    vertical-align: text-top;
    display: inline-block;

    @include media-breakpoint-down(md){
        @include fonts(var(--font-font-1-link), 5.0rem!important, 5.5rem!important);
    }
}

h2, .extern-header h1, .titel-element h1 {
    @include fonts(var(--font-font-1-link), var(--font-2), var(--font-2-line));
    text-transform: var(--font-2-cap);
    font-weight: var(--font-2-fw);

    @include media-breakpoint-down(md){
        @include fonts(var(--font-font-1-link), 4.0rem!important, 4.5rem!important);
    }
}

h3 {
    @include fonts(var(--font-font-1-link), var(--font-3), var(--font-3-line));
    text-transform: var(--font-3-cap);
    font-weight: var(--font-3-fw);
}

h4 {
    @include fonts(var(--font-font-1-link), var(--font-4), var(--font-4-line));
    text-transform: var(--font-4-cap);
    font-weight: var(--font-4-fw);
}

h5 {
    @include fonts(var(--font-font-1-link), var(--font-5), var(--font-5-line));
    text-transform: var(--font-5-cap);
    font-weight: var(--font-5-fw);
}

h6 {
    @include fonts(var(--font-font-1-link), var(--font-6), var(--font-6-line));
    text-transform: var(--font-6-cap);
    font-weight: var(--font-6-fw);
}

p, select, td, th, option, form, input,  ul, ol, li, textarea, label, button, input, iframe, table {
    @include fonts(var(--font-font-3-link), var(--font-7), var(--font-7-line));
    text-transform: var(--font-7-cap);
    font-weight: var(--font-7-fw);
}

.bold{
    font-weight: var(--font-5-fw);
}


.custom-container-width{
    .plate--container{
        max-width: var(--con-1);
    }
}

.plate--container{
    @include media-breakpoint-down(xl){
        padding-left: 4rem;
        padding-right: 4rem;
    }
    .plate--row{
        .plate--column{
            &.column-offset{
                margin: 0 auto;
            }
        }
    }
}

/* IMAGES */
picture {
    @include position(relative);
    display: block;
    line-height: 0;
    height: 0;

    img {
        top: 0;
        left: 0;
        width: 100%;
    }
}


/* 404 MESSAGE  */

.error-message {
    @include position(relative);
    @include dimensions(100%, 500px);
    z-index: 3;
}

/* LIST */
.ce-element{
    &.ce-element--type-list{
        list-style: disc;
    }

    &.ce-element--type-list-item{
        list-style: disc;
        font-size: 1.7rem;
    }

    &.ce-element--type-list-item-text{
        font-size: 1.7rem;
        line-height: 2.3rem;
    }
}

/* P */
p{
    a{
        color: inherit;
        text-decoration: none;
    }
}

.title-in {
    h1{
        .word{
            overflow: hidden;
        }

        span{
            @include fonts(var(--font-font-1-link), inherit, inherit);
            font-weight: inherit;
            color: inherit;
            vertical-align: text-top;
            display: inline-block;
        }
    }   
} 
/* RENDERS */
.render-content{
    &-in{
        .plate--container{
            padding-left: 0;
            padding-right: 0;
        }
    }
}


  