/* POSTS INDEX */
.post-wrapper{
    @include position(relative);
    background-color: $grey;
}
/* POST ITEM */
.items-container{
    @include position(relative);
    margin-bottom: 8rem;
    
    &.content-up{
        margin-top: -6.7rem;
    }

    &.related-container{
        margin-bottom: 0;
    }
}

.item {
    @include position(relative);
    width: calc(1 / 3 * 100% - (4rem / 3));
    margin-right: 2rem;
    margin-bottom: 2rem;
    overflow: hidden;
    border-radius: 0;
    padding: 0 0 0 0;

    &_background{
        &_cover{
            .item{
                &_image{
                    background-color: transparent;
                }
                &_content{
                    @include position(relative);
                    background-color: transparent;
                    color: white;   
                    justify-content: flex-end!important;

                    &::before{
                        content: "";
                        position: absolute;
                        bottom: -10vh;
                        left: 0;
                        width: 100%;
                        height: 100vh;
                        @include bg-color(var(--clr-3));
                        opacity: .3;
                        z-index: 1;
                    }

                    h6, h3, p{
                        color: white;
                    }
                }
            }
        }
    }

    h6{
        margin-bottom: 1.3rem;
        font-weight: 400;
    }

    p{
        margin-bottom: 1.3rem;
    }
    h3{
        margin-bottom: 1.3rem;
    }
    
    &:nth-child(3n){
        margin-right: 0;
    }

    &_inner{
        @include position(relative);

        p{
            margin-bottom: 0;
        }
        .testimonial{
            .stars{
                @include position(relative);
                margin-top: 2.9rem;
                &_filled{
                    @include position(absolute);
                    top: 0;
                    left: 0;
                }

                &_unfilled{
                    opacity: .3;
                }
            }
        }
    }

    &_image{
        @include position(relative);
        height: 21.8rem;
        background-color: var(--clr-3);
    }

    &_content{
        padding: 4rem 4rem 2.7rem 4rem;
        background-color: $white;
        @include border-radius(30px);

        &_inner{
            z-index: 3;
            width: 100%;
        }
    }

    &_category{ 
        color: var(--clr-1);
    }

    &.amount-1{
        width: 100%;
        margin-right: 0;
    }
}

/* POSTS TRAY */
.project-tray{
    @include hidden;

    .plate--row{
        @include position(relative);

        .color__background{
            @include cover;
            @include transform(scaleX(5));
            z-index: -1;
        }
    }
}