/* SECTION STYLING */

.dot{
    height: 5.3rem;
    width: 5.3rem;
    @include border-radius(100%);
    opacity: .06;
    position: absolute;

    &_filled{
        background-color: var(--clr-3);
        animation: animationFrames infinite 16s;
        animation-iteration-count: 1;
        transform-origin: 50% 50%;
    }

    &_border{
        border: 13px solid var(--clr-3);
        animation: animationFramesBorder infinite 15s;
        animation-iteration-count: 1;
        transform-origin: 50% 50%;
        -webkit-animation: animationFramesBorder infinite 15s;
}
  
}

@keyframes animationFrames{
    0% {
        transform:  rotate(0deg) scaleX(0) scaleY(0) ;
        @include border-radius(60%);
        opacity: .0;
    }
    7% {
        transform:  rotate(0deg) scaleX(0) scaleY(0) ;
        @include border-radius(60%);
        opacity: .0;
    }
    10% {
        transform:  rotate(-3deg) scaleX(0.80) scaleY(0.80) ;
        @include border-radius(60%);
        opacity: .02;
    }
    20% {
        transform:  rotate(-3deg) scaleX(0.80) scaleY(0.80) ;
        @include border-radius(80%);
        opacity: .06;
    }
    30% {
        transform:  rotate(3deg) scaleX(1.20) scaleY(1.20) ;
        @include border-radius(80%);
        opacity: .06;
    }
    40% {
        transform:  rotate(-3deg) scaleX(1.20) scaleY(1.20) ;
        @include border-radius(0%);
        background-color: transparent;
        opacity: .06;
    }
    50% {
        transform:  rotate(360deg) scaleX(.60) scaleY(.60) ;
        @include border-radius(0%);
        opacity: .15; 
        background-color: var(--clr-3);
    }
    60% {
        transform:  rotate(-3deg) scaleX(1.20) scaleY(1.20) ;
        @include border-radius(100%);
        background-color: var(--clr-3);
        opacity: .1;
    }
    70% {
        transform:  rotate(3deg) scaleX(1.20) scaleY(1.20) ;
        @include border-radius(100%); 
        opacity: .06;
    }
    80% {
        transform:  rotate(-3deg) scaleX(1.20) scaleY(1.20) ;
        @include border-radius(100%);
        opacity: .06;
    }
    90% {
        transform:  rotate(3deg) scaleX(1.20) scaleY(1.20) ;
        @include border-radius(60%);
        opacity: .02;
    }
    93% {
        transform:  rotate(0deg) scaleX(0) scaleY(0) ;
        @include border-radius(60%);
        opacity: .0;
    }
    100% {
        transform:  rotate(0deg) scaleX(0) scaleY(0) ;
        @include border-radius(60%);
        opacity: .0;
    }
}

@keyframes animationFramesBorder{
    0% {
        transform:  rotate(0deg) scaleX(0) scaleY(0) ;
        @include border-radius(60%);
        opacity: .0;
    }
    7% {
        transform:  rotate(0deg) scaleX(0) scaleY(0) ;
        @include border-radius(60%);
        opacity: .0;
    }
    10% {
        transform:  rotate(-3deg) scaleX(0.80) scaleY(0.80) ;
        @include border-radius(60%);
        opacity: .06;
    }
    20% {
        transform:  rotate(-3deg) scaleX(0.80) scaleY(0.80) ;
        @include border-radius(80%);
        opacity: .06;
    }
    30% {
        transform:  rotate(3deg) scaleX(1.20) scaleY(1.20) ;
        @include border-radius(80%);
        opacity: .06;
    }
    40% {
        transform:  rotate(-3deg) scaleX(1.20) scaleY(1.20) ;
        @include border-radius(0%);
        background-color: transparent;
        opacity: .06;
    }
    50% {
        transform:  rotate(360deg) scaleX(.60) scaleY(.60) ;
        @include border-radius(0%);
        opacity: .15; 
        background-color: var(--clr-3);
    }
    60% {
        transform:  rotate(-3deg) scaleX(1.20) scaleY(1.20) ;
        @include border-radius(100%);
        background-color: var(--clr-3);
        opacity: .1;
    }
    70% {
        transform:  rotate(3deg) scaleX(1.20) scaleY(1.20) ;
        @include border-radius(100%); 
        background-color: transparent;
        opacity: .06;
    }
    80% {
        transform:  rotate(-3deg) scaleX(1.20) scaleY(1.20) ;
        @include border-radius(100%);
        opacity: .06;
    }
    90% {
        transform:  rotate(3deg) scaleX(1.20) scaleY(1.20) ;
        @include border-radius(60%);
        opacity: .06;
    }
    93% {
        transform:  rotate(0deg) scaleX(0) scaleY(0) ;
        @include border-radius(60%);
        opacity: .0;
    }
    100% {
        transform:  rotate(0deg) scaleX(0) scaleY(0) ;
        @include border-radius(60%);
        opacity: .0;
    }
}


.section-container {
    @include position(relative);
    @include dimensions(100%, auto);

    &.size_1_3 {
        .section-content {
            .section_image{
                width: calc((100% / 12) * 5);
                @include border-radius(30px);

                @include media-breakpoint-down(md){
                    padding-right: 4rem;
                    width: 100%;
                }
            }

            .section_text{
                width: calc((100% / 12) * 7);
                @include media-breakpoint-down(md){
                    width: 100%;
                }
            }
        }
    }
    &.size_2_3 {
        .section-content {
            .section_image{
                width: calc((100% / 3) * 2);
                @include border-radius(30px);
            }

            .section_text{
                width: calc(100% / 3);
            }
        }
    }
    &.section-full-width{
        .plate--container{
            max-width: unset;
            padding-left: 0;
            padding-right: 0;
        
            .plate--row{
                margin-right: 0;
                margin-left: 0;
                .plate--column{
                    padding-right: 0;
                    padding-left: 0;
                }
            }
        }
    }

    .background-layer{
        @include position(absolute);
        width: 100%;
        top: 0;
        left: 0;
    }

    .section-content {
        @include position(relative);
        z-index: 2;

        
        &.plate--container {
            .section-content {
                &-inner{
                    .section_side{
                        &.section_text{
                            padding-top: 125px;
                            padding-bottom: 125px;

                            @include media-breakpoint-down(md){
                                padding-top: 40px;
                                padding-bottom: 40px;
                            }
                        }

                        padding: 0px 100px;
                        min-height: 300px;

                        @include media-breakpoint-down(md){
                            padding: 0 0 0 0;
                        }


                        &.section_text_custom_color{
                            padding-left: 115px;
                            padding: 100px 115px;
                            @include media-breakpoint-down(md){
                                padding-left: 4rem;
                                padding-top: 4rem;
                                padding-bottom: 4rem;
                                padding-right: 4rem;
                            }
                        }   
                    }    
                    &.fl-row{
                        .section_side{
                            padding-left: 0;
                            &.section_text_custom_color{
                                padding-left: 115px;
                                @include media-breakpoint-down(md){
                                    padding-left: 4rem;
                                }
                            }
                        }
                        &-reverse{  
                            .section_side{
                                padding-right: 0;
                                &.section_text_custom_color{
                                    padding-right: 115px;
                                    @include media-breakpoint-down(md){
                                        padding-right: 4rem;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }

        .section_side{
            @include position(relative);
            width: 50%;
            padding: 100px 115px;
            min-height: 550px;

            h6{
                margin-bottom: 20px;
            }

            h2{
                margin-bottom: 20px;
            }

            p{
                margin-bottom: 30px;
            }
            &.light{
                h2{
                    color: var(--clr-3);
                }

                p{
                    color: var(--clr-3);
                }
            }

            &.dark{
                background: var(--clr-3);

                h2{
                    color: white;
                }

                p{
                    color: white;
                }
            }
        }
    }
}