@font-face {
  font-family: 'Social';
  font-weight: normal;
  font-style: normal;
  font-display: block;
  src: url("/theme/assets/fonts/social_media.woff2") format("woff2"), url("/theme/assets/fonts/social_media.woff") format("woff");
}

.icon-social {
  font-style: normal;
  font-family: 'Social';
}

.icon-social.icon-facebook:before {
  content: "\f09a";
}

.icon-social.icon-twitter:before {
  content: "\f099";
}

.icon-social.icon-envelope:before {
  content: "\f0e0";
}

.icon-social.icon-linkedin:before {
  content: "\f0e1";
}

.icon-social.icon-youtube-play:before {
  content: "\f16a";
}

.icon-social.icon-instagram:before {
  content: "\f16d";
}

.icon-social.icon-google:before {
  content: "\f1a0";
}

.icon-social.icon-behance:before {
  content: "\f1b4";
}

.icon-social.icon-pinterest-p:before {
  content: "\f231";
}

.icon-social.icon-whatsapp:before {
  content: "\f232";
}

.icon-social.icon-vimeo:before {
  content: "\f27d";
}
/*# sourceMappingURL=icons.css.map */